html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: linear-gradient(rgb(116, 192, 207),rgb(62, 139, 135));
    font-size: 1.2rem;
    line-height: 1.5;
}

h1 {
    margin: 0;
    color: rgb(37, 56, 73);
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.6rem;
}
h3 {
    color: rgb(37, 56, 73);
}
header{
    text-align: center;
    padding:1rem;
    background-color: rgb(109, 215, 210);
}
.container {
    max-width: 60rem;
    margin: auto;
    padding: 0 1rem;
}

.innerlinks{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgb(37, 56, 73),rgb(109, 215, 210)) ;
}
.innerlinks a:link {
    padding: .3rem 2rem;
    text-align: center;
    text-decoration: none;
    color: rgb(3, 18, 39);
}
.innerlinks a:visited {
    color: rgb(37, 56, 73);
}
.innerlinks a:hover, .innerlinks a:active {
    color: rgb(37, 56, 73);
    background-image:linear-gradient(rgb(109, 215, 210),rgb(37, 56, 73));
}


figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto ;
}
.odd, .camp{
    padding-top: 2rem;
}

.col-4 img {
    display: block;
}
.col-21,
.col-2,
.col-14,
.col-4{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.col-2 a:link {
    text-decoration: none;
    color: rgb(62, 139, 135);
}
.col-2 a:visited {
    color: rgb(109, 215, 210);
}
.col-2 a:hover, .col-2 a:active {
    color: aquamarine;
}
.upp {
    position: fixed;
    top: 3rem;
    left: .3rem;
    font-size: 2rem;
    z-index: 3;
    height: 100px;
    width: 100px;
}

footer {
    padding: 3rem;
    background-color: rgb(37, 56, 73);
    color: rgb(62, 139, 135);
}

.center {
    color: rgb(62, 139, 135);
    text-align: center;
    background-color: rgb(37, 56, 73);
    margin: 0;
}


@media screen and (min-width:37.5rem){
    .innerlinks {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-around;
    }
    .col-4 {
        padding-top: 2rem;
        grid-template-columns: 1fr 1fr ;
    }
}

/* ******** 48em ********* */
@media screen and (min-width:48rem) {

    .col-21 {
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
    header h1 {
        font-size: 4rem;
    }
    .col-4 {
        padding-left: 1rem;
        padding-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    
  
    
}
@media screen and (min-width:60rem) {
    .col-21 {
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
    .col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .col-4 {
        padding-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        
    }
    .col-14 {
        grid-template-columns: 1fr 4fr;
    }
}
@media screen and (min-width:80rem) {
    .col-21 {
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
    }
    .col-4 {
        padding-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
       
    }
    .col-14 {
        grid-template-columns: 1fr 4fr;
    }
    body {
        font-size: 1.4rem;
    }
    .container {
        max-width: 80rem;
        margin:  auto;
    }
    header h1 {
        font-size: 6rem;
    }
    .upp {
        height: 150px;
        width: 150px;
    }
}
@media screen and (min-width:100rem) {
    
    .col-21 {
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
    .col-4 {
        padding-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    .col-14 {
        grid-template-columns: 1fr 4fr;
    }
    .container {
        max-width: 93rem;
        margin: auto;
    }
    .upp {
        height: 150px;
        width: 150px;
    }
}
